body{
    background-color:lightblue;
}
.mainContainer{
    border: 3px solid black;
    margin: 50px 200px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.nameContainer{
    text-align: center;
    
}
.arrowOne{
    display: none;
}
.commonHeading{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
}
.contactHeading h4{
    
    margin-bottom: 0;
}
.emailHeading{
    font-weight: 600;
}
.linkedinHeading{
    font-weight: 600;
}

.phoneContainer{
    font-weight: 600;
}
.phoneContent{
    color: lightblue;
}
.careerContainer{
    margin-top: 20px;
}
.careerObjective{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
}
.project1{
    font-weight: 600;
}
.projectContent{
    margin: 15px;
}
.personalContent{
    margin-left: 90px;
    margin-bottom: 50px;
}
.space{
    margin-left:50px;
}
.agreeStatement{
    margin-left: 90px;
}
.detailsContainer{
    margin-top: 30px;
}

.placeContent{
    margin-left: 50px;
}

.signature h4{
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    margin-right:100px; 
}
.photoContent{
    text-align: right;
    margin-top: -50px;
}
.academicContainer{
    display: none; 
}
@media (max-width: 768px) {
    body{
        text-align: justify;
        background-color: white;
    }
    .photoContent{
        text-align: center;
        margin-top:10px;
    }
    .mainContainer{
        margin:0;
        padding: 0;
        border:0px;
    }
    .academicTable{
        display: none;
    }
    .academicContainer{
        display: block; 
    }
    .PersonalContainer{
        display: none;
    }
   
}